.detail-lv2 {
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  .detail-header {
    display: flex;
    justify-content: space-between;
    margin: 10PX 15PX;
    .detail-title {
      font-size: 19PX;
    }
    .detail-more {
      font-size: 15PX;
      cursor: pointer;
      color: #6190E8;
    }
  }
  .detail-wrap {
    margin-bottom: 20PX;
  }
  .detail-list {
    display: flex;
    justify-content: center;
    margin: 0 10PX;
    .detail-container {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .book-cover {
        max-width: 90%;
        height: 100PX;
        margin-bottom: 6PX;
      }
      .book-title,
      .book-author {
        width: 90%;
        text-align: left;
        font-size: 13PX;
      }
      .book-title {
        margin-bottom: 3PX;
      }
      .book-author {
        color: #7e7e7d;
      }
    }
  }
}
