.list-container {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  cursor: pointer;
  .list-image {
    box-sizing: border-box;
    padding: 10PX 10PX 10PX 15PX;
    Image {
      width: 90PX;
      height: 115PX;
      border-radius: 3PX;
      box-shadow: 2PX 4PX 6PX silver;
    }
  }
  .list-text {
    width: calc(100% - 110PX);
    padding: 10PX 15PX 10PX 0;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .list-title {
      color: #000;
      font-size: 17PX;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .list-desc {
      padding-top: 10PX;
      font-size: 14PX;
      text-align: left;
      color: grey;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }
}
