.list-container {
  width: 100%;
  height: 140PX;
  padding: 5PX;
  display: flex;
  .list-image {
    width: 100PX;
    Image {
      width: 80PX;
      height: 120PX;
      padding: 10PX;
    }
  }
  .list-text {
    padding: 10PX 10PX 10PX 3PX;
    width: calc(100% - 110PX);
    display: flex;
    flex-direction: column;
    font-family: -apple-system-font, "Helvetica Neue", sans-serif;
  }
  .list-title {
    color: #000;
    font-size: 16PX;
    font-weight: 600;
    width: calc(100% - 15PX);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .list-desc {
    width: calc(100% - 15PX);
    font-size: 14PX;
    text-align: left;
    color: grey;
    padding-top: 10PX;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
