.book-list-wrap {
  width: 100%;
  position: relative;
  .filter-lv1,
  .filter-lv2 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding: 10PX 0;
    border-bottom: 1px solid rgb(218, 216, 216);
  }
  .filter-all {
    position: absolute;
    z-index: 10;
    top: 102PX;
    background: #ffffff;
  }
  .tag-list {
    margin: 15PX;
    .tag-container {
      .tag-title {
        font-size: 16PX;
        color: rgb(166, 168, 168);
        margin-bottom: 10PX;
      }
      .tag-name {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: first baseline;
        View {
          margin-right: 5PX;
        }
      }
    }
  }
  .book-list {
    .layout-container {
      width: 100%;
      height: 140PX;
      padding: 5PX;
      display: flex;
      .layout-image {
        width: 100PX;
      }
      .layout-text {
        padding: 0 10PX 0 5PX;
        flex: 1;
        display: flex;
        flex-direction: column;
        font-family: -apple-system-font, "Helvetica Neue", sans-serif;
      }
      .layout-title {
        color: #000;
        font-size: 16PX;
        font-weight: 600;
        width: calc(100% - 10PX);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-top: 10PX;
      }
      .layout-desc {
        width: calc(100% - 10PX);
        font-size: 14PX;
        // ...
        text-align: justify-all;
        color: grey;
        padding-top: 10PX;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
  }
}
