.book-statistic {
  font-family: Arial, Helvetica, sans-serif;
  .statistic-wrap {
    display: flex;
    flex-flow: row wrap;
    margin: 10PX;
    .statistic-detail {
      width: calc(50% - 10PX);
      display: flex;
      background-color: rgba(241, 241, 241, 0.925);
      border-radius: 5%;
      margin-bottom: 10PX;
      cursor: pointer;
      .statistic-name {
        text-align: center;
        width: calc(100% - 80PX);
        line-height: 80PX;
        padding: 10PX 0;
        font-size: 16PX;
      }
      .statistic-img {
        padding-top: 10PX;
        Image {
          width: 60PX;
          height: 80PX;
          border-radius: 2PX;
          box-shadow: 1PX 2PX 1PX #bbb;
        }
      }
      &:nth-child(2n) {
        margin-left: 20PX;
      }
    }
  }
}
